<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css">
    <link rel="stylesheet"  href="style.css">


</head>
<body>
    <div class="signupSection">
        <div class="info">
            <div class="details">
                <h2>Mission to Save Crab</h2>
                <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
                <p>The Future Is Here</p>
            </div>
         
        </div>
        <form action="#" method="POST" class="signupForm" name="signupform">
          <h2>Crab Input</h2>
          <ul class="noBullet">
            <li>
              <label for="sex"></label>
              <input type="text" class="form-control inputFields" id="sex" name="sex" placeholder="Sex" value=""  required>
          </li>
            <li>
              <label for="length"></label>
              <input type="text" class="form-control inputFields" id="length" name="length" placeholder="Length" value="" required />
            </li>
            <li>
              <label for="diameter"></label>
              <input type="text" class="form-control inputFields" id="diameter" name="diameter" placeholder="Diameter" value="" required>
            </li>
            <li>
              <label for="height"></label>
              <input type="text" class="form-control inputFields" id="height" name="height" placeholder="Height" value="" required>
            </li>
            <li>
              <label for="weight"></label>
              <input type="text" class="form-control inputFields" id="weight" name="weight" placeholder="Weight" value="" required>
            </li>
            <li>
              <label for="shucked_weight"></label>
              <input type="text" class="form-control inputFields" id="shucked_weight" name="shucked_weight" placeholder="Shucked Weight" value="" required>
            </li>
            <li>
              <label for="viscera_weight"></label>
              <input type="text" class="form-control inputFields" id="viscera_weight" name="viscera_weight" placeholder="Viscera Weight" value="" required>
            </li>
            <li>
              <label for="shell_weight"></label>
              <input type="text" class="form-control inputFields" id="shell_weight" name="shell_weight" placeholder="Shell Weight" value="" required>
            </li>
            <li>
              <label for="age"></label>
              <input type="text" class="form-control inputFields" id="age" name="age" placeholder="Age" value="" readonly>
            </li>
            <li id="center-btn">
              <input type="submit" id="join-btn" name="join" alt="Join" value="Predict">
            </li>
          </ul>
        </form>
      </div>
</body>
</html>